h1 {
  font-family: fantasy;
  margin-left: 10px;
  /*position: relative;
  top: 20px;
  left: 10px;*/
}

p {
  font-family: serif;
  font-style: oblique;
}

main {
  background-color: lightblue;
}

aside {
  font-style: italic;
  font-size: 0.5ems;
}

.bio {
  border: 2px solid black;
  border-style: groove;

}

ul {
  margin-left: 25px;
}

.bio li {
  list-style-type: chevron;
}

.topTen ol {
  reversed
  clear: right;
}

.map {
  border: 2px solid black;
}

.topTen {
  background-image: url(https://martinabex.files.wordpress.com/2013/04/top_ten_list_c00230_19547.gif);
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: white;
  border: 5px solid black;
}

.topTen li {
  text-decoration: underline;
  font-family: cursive;
  font-style: oblique;
  font-size: 1.5em;
  margin-left: 15px;
  margin-right: 30px;
}
